<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li {% if not request.path in ["/repo/", "/snapshot/"] %}class="active"{% endif %}><a href="/">Файлы</a></li>
          <li {% if request.path == "/repo/" %}class="active"{% endif %}><a href="/repo/">Репозитории</a></li>
          <li {% if request.path == "/snapshot/" %}class="active"{% endif %}><a href="/snapshot/">Снапшоты</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>