{% extends "base.html" %}
{% block content %}
<a data-toggle="modal" href="#MetaModal" class="btn btn-success">Add Metadata</a>
<table class="table table-striped">
  <thead>
    <th>Имя</th>
    <th>Путь</th>
    <th>Репозиторий</th>
  </thead>
  <tbody>
    {% for metadata in metadatas %}
    <tr>
      <td>{{metadata.name}}</td>
      <td>{{metadata.path}}</td>
      <td>{{metadata.repo.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div style="display: none;" id="MetaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="MetaModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="MetaModalLabel">Add Metadata</h3>
  </div>
  <div class="modal-body">
    {% if form %}
    <form accept-charset="UTF-8" class="form-horizontal" method="post" name="add_repo">
      {{form.hidden_tag()}}
      <div class="control-group">
        <label class="control-label" for="name">Имя</label>
        <div class="controls">
          {{form.name()}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="path">Путь</label>
        <div class="controls">
          {{form.path()}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="comment">Репозиторий</label>
        <div class="controls">
          {{form.repo_id()}}
        </div>
      </div>

      <div class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">Close</button>
          <button class="btn btn-primary">Submit</button>
      </div>

    </form>
    {% endif %}
  </div>
</div>
{% endblock %}