{% extends "base.html" %}
{% block content %}
<form accept-charset="UTF-8" class="form-horizontal" method="post" name="file_upload" enctype="multipart/form-data">
{{form.hidden_tag()}}
  <div class="control-group">
    <label class="control-label" for="file">Файлы</label>
    <div class="controls">
      {{ form.file(multiple="") }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="repo_name">Репозиторий</label>
    <div class="controls">
      {{ form.repo_name() }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="arch">Архитектура</label>
    <div class="controls">
      {{ form.arch() }}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="snapshot">Создать snapshot?</label>
    <div class="controls">
      {{ form.snapshot() }}
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Загрузить" name="upload" class="btn btn-primary" id="form_submit">
    </div>
  </div>
</form>
{% endblock %}